body {
    margin: 0;
}

@font-face{
    font-family:'stereon';
    src:url(sterion.ttf);
}

canvas {
    position:absolute;
    left: 0;
    top: 0;
    z-index:-1;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

h1{
    font-family:'stereon';
    font-size: 50px;
    text-align: CENTER;
    color:rgb(50, 191, 50); 
    font-variant: small-caps;  
    border: 2px solid; 
}

p{
    font-family:"stereon";
    font-size: 20px;
    text-align: center;
    color:blueviolet
}


h3{
    text-align:center;
    
}